# Ignore Spring Boot configuration files containing secrets
src/main/resources/application.properties
src/main/resources/application.yml

# Ignore IDE settings
.idea/
.vscode/
*.iml

# Ignore build directories
target/
.mvn/
